@CHARSET "UTF-8";

#container 
{    
	margin:0 auto;    
	width: 70%;	
	float: center;	
	text-align: center;	
	postion: relative;
}

#contents 
{    
	width: 100%;	
	text-align: left;	
	float: center;
}

#masthead 
{
	width: 100%;
	height: 60px;
	text-align: center;
	background-color: #226666;
	float: center;
	margin:0 auto;
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

#results_area 
{
	margin-top: 30px;
}

#form 
{
	float: center;
	margin-top: 30px;
}

.score
{
	 font-style: italic;
}

button, .button 
{
	border-width: 0;
	cursor: pointer;
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	font-weight: normal;
	line-height: normal;
	margin: 0 0 1.25rem;
	position: relative;
	text-decoration: none;
	text-align: center;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	display: inline-block;
	padding-top: 1rem;
	padding-right: 2rem;
	padding-bottom: 1.0625rem;
	padding-left: 2rem;
	font-size: 1rem;
	background-color: #226666;
	border-color: #407F7F;
	color: #FFFFFF;
	transition: background-color 300ms ease-out;
}
.button.secondary
{
	background-color: #669999; 
}
	button:hover, button:focus, .button:hover, .button:focus 
	{
    	background-color: #407F7F; 
    }
    

input[type="text"] 
{
	border-radius: 0;
  	background-color: #FFFFFF;
  	color: rgba(0, 0, 0, 0.75);
  	font-size: 0.875rem;
	margin: 0 0 1rem 0;
	padding: 0.5rem;
	height: 2.3125rem;
	width: 100%;
}

